
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/Content/fullcalender/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fullcalender/fullcalendar.print.min.css")" rel="stylesheet" type="text/css" media="print" />
    <link href="@Url.Content("~/Content/fullcalender/bootstrap_calendar.css")" rel="stylesheet" type="text/css" />
}

<h5 class="mb-0"><strong>Citas</strong></h5>

<div class="row mt-3">
    <div class="col-sm-12">
        <!--Default breadcrumb-->
        <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="Medico" class="control-label col-sm-1">Medico</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Seleccionar ...</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>


        </div>
        <!--/Default breadcrumb-->
        <!--Full Calendar-->
        <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm lh-sm">
            <div class="email-msg">

                <div class="table-responsive" id="calendarFull"></div>

            </div>
        </div>
        <!--/Email messages-->

    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/fullcalender/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalender/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalender/full-calendar.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalender/locale-all.js")"></script>
}

