@using CitasWebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "LoginMedic";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1 class="text-center mb-5"><i class="fa fa-hospital text-primary"></i> Sistema de Citas</h1>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-md-6 col-sm-6 col-12 login-box-form p-4">
        <h3 class="text-center mb-1">Ingreso Medicos</h3>
        <div class="text-center">
            <img  width="130px" height="150px" src="~/img/icon-doctor.png" alt="">
        </div>
        <small class="text-muted bc-description">Ingresa con tus credenciales de usuario</small>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "mt-2", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control mt-0", placeholder = "Correo" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
                </div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control mt-0", placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button class="btn btn-theme btn-block p-2 mb-1">Continuar</button>
                <a href="#">
                    <small class="text-theme"><strong>Olvidaste tu clave?</strong></small>
                </a>
            </div>
        }
    </div>
</div>

