@using CitasWebApp.Models
@model ApplicationUser
<form class="form-horizontal mt-4 mb-3">
    <input type="hidden" id="idUser" value="@(Model.Email != null ? 1:0 )" />
    <div class="form-group row">
        <label class="control-label col-sm-3" for="input-3">Email</label>
        <div class="col-sm-9">
            <input type="text" id="txtemail" class="form-control" id="input-3" value="@Model.Email" @(Model.Email != null ? "disabled" : "") />
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="input-1">Nombre</label>
        <div class="col-sm-9">
            <input type="text" id="txtnombres" class="form-control" id="input-1" value="@Model.nombres" />
        </div>
    </div>
    <div class="form-group row">
        <label class="control-label col-sm-3" for="input-2">Apellido</label>
        <div class="col-sm-9">
            <input type="text" id="txtapellidos" class="form-control" id="input-2" value="@Model.apellidos" />
        </div>
    </div>

    <div class="form-group row">
        <label class="control-label col-sm-3" for="input-3">Celular</label>
        <div class="col-sm-9">
            <input type="text" id="txtcelular" class="form-control" id="input-3" value="@Model.PhoneNumber" />
        </div>
    </div>
</form>

