@using CitasWebApp.Models
@model dynamic
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="mb-0"><strong>Horario</strong></h5>

<div class="row mt-3">
    <div class="col-sm-12">
        <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="Medico" class="control-label col-sm-1">Medico</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>Seleccionar ...</option>
                            @foreach (var x in Model.doctores)
                            {
                                <option value="@x.Id">@(x.nombres + " " + x.apellidos)</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>


        </div>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
        </div>
        <!--Datatable-->
        <div class="mt-1 mb-3 p-3 button-container bg-white border shadow-sm">
            <h6 class="mb-2">Seleccionar</h6>

            <table class="table table-bordered" id="project_table">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miercoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sabado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in Model.horas)
                    {
                        <tr>
                            <td>@x.desHora</td>
                            <td><input type="checkbox" id="@(x.idHora)lun" class="js-single" /></td>
                            <td><input type="checkbox" id="@(x.idHora)mar" class="js-single" /></td>
                            <td><input type="checkbox" id="@(x.idHora)mie" class="js-single" /></td>
                            <td><input type="checkbox" id="@(x.idHora)jue" class="js-single" /></td>
                            <td><input type="checkbox" id="@(x.idHora)vie" class="js-single" /></td>
                            <td><input type="checkbox" id="@(x.idHora)sab" class="js-single" /></td>
                        </tr>
                    }
            </table>
        </div>
        <!--/Varying modal content-->

    </div>
</div>

